<!-- !PAGE CONTENT! -->
<div class="container">
  <h1 class="title"> Gallery </h1>
  <!-- First Photo Grid-->
  <div class="columns" id="food" data-aos="fade-in" data-aos-duration="3000">
    <div class="column">
      <iframe width="100%" height="315" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="https://www.youtube.com/embed/qfWzAxk0eSA" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3 class="title">Stand Off 2 - Android Grame Play</h3>
      <p>Stand off 2 android game play.</p>
    </div>
    <div class="column">
      <iframe width="100%" height="315" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="https://www.youtube.com/embed/hfnejw3qxgg" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3 class="title">Shape of you - Kannada</h3>
      <p>Shape of you kannada version.</p>
    </div>
    <div class="column">
      <iframe width="100%" height="315" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="https://www.youtube.com/embed/QYHeNLw1ve8" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3 class="title">Despacito - Kannada</h3>
      <p>Despacito Kannada version.</p>
      <p>What else?</p>
    </div>
  </div>

  <!-- Second Photo Grid-->
  <div class="columns" data-aos="fade-in" data-aos-duration="3000">
    <div class="column hovereffect">
      <img class="img-responsive" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="https://www.w3schools.com/w3images/popsicle.jpg"
        alt="Popsicle" style="width:100%">
      <div class="overlay">
        <h3 class="title">All I Need Is a Popsicle</h3>
        <p class="has-text-dark">Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
      </div>
    </div>
    <div class="column hovereffect">
      <img class="img-responsive" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="https://www.w3schools.com/w3images/salmon.jpg"
        alt="Salmon" style="width:100%">
      <div class="overlay">
        <h3 class="title">Salmon For Your Skin</h3>
        <p class="has-text-dark">Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
      </div>
    </div>
    <div class="column hovereffect">
      <img class="img-responsive" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="https://www.w3schools.com/w3images/sandwich.jpg"
        alt="Sandwich" style="width:100%">
      <div class="overlay">
        <h3 class="title">The Perfect Sandwich, A Real Classic</h3>
        <p class="has-text-dark">Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
      </div>
    </div>
    <div class="column hovereffect">
      <img class="img-responsive" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="https://www.w3schools.com/w3images/croissant.jpg"
        alt="Croissant" style="width:100%">
      <div class="overlay">
        <h3 class="title has-text-white">Le French</h3>
        <p>Lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
      </div>
    </div>
  </div>
</div>



<script>
  function init() {
    var imgDefer = document.getElementsByTagName('img');
    var frameDefer = document.getElementsByTagName('iframe')
    for (var i = 0; i < imgDefer.length; i++) {
      if (imgDefer[i].getAttribute('data-src')) {
        imgDefer[i].setAttribute('src', imgDefer[i].getAttribute('data-src'));
      }
    }

    for (var j = 0; j < frameDefer.length; j++) {
      if (frameDefer[j].getAttribute('data-src')) {
        frameDefer[j].setAttribute('src', frameDefer[j].getAttribute('data-src'));
      }
    }
  }
  window.onload = init;
</script>