<!-- !PAGE CONTENT! -->
<div class="container" >
  <h1 class="title"> Gallery </h1>
  <!-- First Photo Grid-->
  <div class="columns" id="food" data-aos="fade-in" data-aos-duration="3000">
    <div class="column">
      <iframe width="100%" height="315"
         src="https://www.youtube.com/embed/eXvBjCO19QY?controls=0">
      </iframe>
      <h3 class="title">Changes - 2 pac, A Real NYC Classic</h3>
      <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
    <div class="column" >
      <iframe width="100%" height="315"
        src="https://www.youtube.com/embed/tIdIqbv7SPo?controls=0">
      </iframe>
      <h3 class="title">Let Me Tell You About This Steak</h3>
      <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
    <div class="column" >
      <iframe width="100%" height="315"
        src="https://www.youtube.com/embed/bo_efYhYU2A?controls=0">
      </iframe>
      <h3 class="title">Shallow, interrupted</h3>
      <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
      <p>What else?</p>
    </div>
  </div>

  <!-- Second Photo Grid-->
  <div class="columns" data-aos="fade-in" data-aos-duration="3000">
    <div class="column" >
      <img src="https://www.w3schools.com/w3images/popsicle.jpg" alt="Popsicle" style="width:100%">
      <h3 class="title">All I Need Is a Popsicle</h3>
      <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
    <div class="column" >
      <img src="https://www.w3schools.com/w3images/salmon.jpg" alt="Salmon" style="width:100%">
      <h3  class="title">Salmon For Your Skin</h3>
      <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
    <div class="column"  >
      <img src="https://www.w3schools.com/w3images/sandwich.jpg" alt="Sandwich" style="width:100%">
      <h3 class="title">The Perfect Sandwich, A Real Classic</h3>
      <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
    <div class="column" >
      <img src="https://www.w3schools.com/w3images/croissant.jpg" alt="Croissant" style="width:100%">
      <h3 class="title">Le French</h3>
      <p>Lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
  </div>
</div>
