<style>
  .mySlides {
    display: none;
  }
</style>

<nav class="level is-mobile">
  <div class="level-left">
    <span class="icon is-large">
          <p onclick="plusDivs(-1)"><i class="fa fa-chevron-left" aria-hidden="true"></i></p>
    </span>

  </div>
  <div class="container">
  
    <div class="card mySlides">
      <div class="card-image">
        <img src="https://www.w3schools.com/w3css/img_snowtops.jpg" style="width:100%">
      </div>
      <div class="card-content">
        French Alps
        <p> Love spending time in nature </p>
      </div>
    </div>
  
    <div class="card mySlides">
      <div class="card-image">
        <img src="https://www.w3schools.com/w3css/img_lights.jpg" style="width:100%">
      </div>
      
      <div class="card-content">
        Northern Lights
        <p> Love spending time in nature </p>
      </div>
    </div>
  
    <div class="card mySlides">
      <div class="card-image">
        <img src="https://www.w3schools.com/w3css/img_mountains.jpg" style="width:100%">
      </div>
     
      <div class="card-content">
        Beautiful Mountains
        <p> Love spending time in nature </p>
      </div>
    </div>
  
    <div class="card mySlides">
      <div class="card-image">
      <img src="https://www.w3schools.com/w3css/img_forest.jpg" style="width:100%">
      </div>
      <div class="card-content">
        The Rain Forest
        <p> Love spending time in nature </p>
      </div>
    </div>
  
    <div class="card mySlides">
      <div class="card-image">
      <img src="https://www.w3schools.com/w3css/img_mountains.jpg" style="width:100%">
      </div>
      <div class="card-content">
        Mountains!
        <p> Love spending time in nature </p>
      </div>
    </div>
  </div>  
  <div class="level-right">
    <span class="icon is-large">
          <p onclick="plusDivs(1)"><i class="fa fa-chevron-right" aria-hidden="true"></i></p>
    </span>

  </div>
</nav>
  
  



<script>
  var slideIndex = 1;
  showDivs(slideIndex);

  function plusDivs(n) {
    showDivs(slideIndex += n);
  }

  function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    if (n > x.length) { slideIndex = 1 }
    if (n < 1) { slideIndex = x.length }
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    x[slideIndex - 1].style.display = "block";
  }
</script>