{% extends 'base.html' %}
{% block header %}
  {% block title %}Login Page{% endblock %}</h1>
{% endblock %}
  {% block content %}
  {% include "flash.html" %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<div class="container">
<div class="brand">
	<img src="{{ url_for('static',filename='image/avatar.png') }}">
</div>
<div class="box">
	<form method="POST" action="{{ url_for('project.login') }}">
		<div class="field">
			<label class="label">Email</label>
			<div class="control has-icons-left has-icons-right">
				<input id="email" name="email" class="input" type="email" placeholder="user@email.com">
				<span class="icon is-small is-left">
					<i class="fas fa-envelope"></i>
				</span>
			</div>
		</div>

		<div class="field">
			<label class="label">Password</label>
			<div class="control has-icons-left has-icons-right">
				<input id="password" name="password" class="input" type="password" placeholder="xxxxxxx" required data-eye>
				<span class="icon is-small is-left">
					<i class="fas fa-lock"></i>
				</span>
			</div>
		</div>

		<div class="field">
			<label>Don't have an account? <a href="{{ url_for('project.register') }}">Create One</a></label>
		</div>
		<div class="field is-grouped">
			<div class="control">
				<button class="button is-link">Submit</button>
			</div>
			<div class="control">
				<button class="button is-text">Cancel</button>
			</div>
		</div>
	</form>
</div>
</div>


	</section>

<!-- Login code -->
{% assets "login_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
