<!doctype html>
<title>{% block title %}{% endblock %} - Flask</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='image/fevicon/fevicon.ico') }}"/>
{% assets "scss_all" %}
<link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
{% endassets %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/bulma.min.css') }}">
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<body class="w3-light-grey">
<section class="header">
    {% include "header.html" %}
</section>
<section class="content">
  {% block content %} 
  {% endblock %}
</section>
<footer class="footer has-background-dark">
  {% include "footer.html" %}
</footer>
</body>
