<!-- Load React. -->
<!-- Note: when deploying, replace "development.js" with "production.min.js". -->
<script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <div class="chatframe" id="chatframe">
        <div class="w3-card-4 row" style="background-color:#5cb85c;">
            <div class="col-5">
                <img src="{{ url_for('static', filename='image/avatar.png') }}" class="img-circle center" alt="Cinque Terre"
                    width="40" height="50">
            </div>
            <div class="col-7" style="float:left;">
                <h3 style="color:white;"> Dumb Chatbot</h3>
            </div>
        </div>
        <div class="w3-card-4 chatbody" style="overflow-x:auto;overflow-x: hidden;height:500px;" id="chatbody">
            <div class="container-fluid chatbox" id="chatbox">
            </div>
        </div>
    </div>

<div id="container" ></div>
<script type="text/jsx" src="{{ url_for('static', filename='scripts/js/main.js') }}"></script>
