
<div style="all:unset">
  <div class="chatbot" id="chatbot">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script>
    var clientHeight = $('#header').height();
    console.log("header hieght "+clientHeight);
    var windowHieght = window.innerHeight;
    console.log(windowHieght);
    var percentage = clientHeight / windowHieght * 100;
    console.log(percentage);
    console.log(100-percentage+"vh");
    // $("#chatbot").css("height",100-clientHeight+"vh")
      $(document).ready(function(){
          $("button.start").click(function(){
              $("div.animate").animate({
                  // top: '10px',
                  height: 'auto',
                  width: '50%',
                  position: 'relative',
                  //left: '250px',
                  padding: '10px',
                  //opacity: '0.5',
                  //width: '750px'
              });
              //$("div.text").show();
              $("div.text").fadeIn("slow");
          });
          $("button.stop").click(function(){
              $("div.animate").animate({
                  margin:'auto',
                  // top: '10px',
                  height: 'auto',
                  width: 'auto',
                  position: 'relative',
                  //left: '250px',
                  //opacity: '0.5',
                  //width: '750px'
              });
              //$("div.text").show();
              $("div.text").fadeOut("slow");
          });
      });


      $(document).ready(function(){
          $("button.enter").click(function(){
            var str = $('#msg').val();
            console.log(str);
            showHint(str);
            $('#msg').val('');
          })
      });
      function showHint(str) {
        console.log(str);
          if (str.length == 0) {
              // document.getElementById("txtHint").innerHTML = "";
              return;
          } else {
            $("div.chatbox").append('<div class="row"><div class="col-8 w3-card-4 question"><p>'+str+'</p></div><div class="col-4"></div></div></div>');
              var xmlhttp = new XMLHttpRequest();
              xmlhttp.onreadystatechange = function() {
                  if (this.readyState == 4 && this.status == 200) {
                    console.log(this.responseText);
                    // response = JSON.parse(this.responseText);
                    response = this.responseText;

                    if (!!response){
                          if (response == "none"){
                            response = "I don't know what to replay, Can you teach me?"
                            $("div.chatbox").append('<div class="row"><div class="col-1"></div><div class="col-8 w3-card-4 response"><p></b>'+response+'</b></p></div><div class="col-1">  <img src="{{ url_for('static', filename='image/avatar.png') }}" class="img-circle" alt="Cinque Terre" width="40" height="50"></div></div>');
                          }
                          else{
                            $("div.chatbox").append('<div class="row"><div class="col-1"></div><div class="col-8 w3-card-4 response" ><p><b>'+response+'</b></p></div><div class="col-1">  <img src="{{ url_for('static', filename='image/avatar.png') }}" class="img-circle" alt="Cinque Terre" width="40" height="50"></div></div>');
                          }
                          var objDiv = document.getElementById("chatbody");
                          console.log(objDiv.scrollHeight);
                          objDiv.scrollTop = objDiv.scrollHeight;
                          // objDiv.scrollTop = 198;
                          console.log(objDiv.scrollTop);
                          // window.scrollBy(0, 100);
                          // window.scrollTo(0,document.chatbody.scrollHeight);

                    }
                    else {
                      console.log("Something went wrong");
                      // document.getElementById("").innerHTML = "No Suggestions";
                    }


                  }
              }
              xmlhttp.open("GET", "gethint.php?q="+str, true);
              xmlhttp.send();
          }
      }


    </script>
    <style>


      .chatframe{
        /* height: 100vh; */
        border: 4px solid;
        position:relative;
        bottom:0px;
        width:100%;
        background-color: white;
        border-radius: 10px;
        overflow:hidden;
      }

      .response{
        background-color:#e0e0e0;
      }

      .question{
        background-color:#5cb85c;
        color:white;
      }
      /* div.container{
        float: right;
        width: 30%;
      } */

      div.row{
        padding: 10px;
        margin-left: 0px;
        margin-right: 0px;
      }

      #hit{

      }

      .center {
          display: block;
          margin-left: auto;
          margin-right: auto;
          float: right;
          /* width: 50%; */
      }

      .chatbot{
        /* display:none; */
        /* height:500px; */
        /* width:400px; */
        right: 0px;
        bottom:0px;
        position:fixed;
        padding: 10px;
      }

    </style>
    <div class="chatframe" id="chatframe">
      <div class="w3-card-4 row" style="background-color:#5cb85c;">
        <div class="col-5">
          <img src="{{ url_for('static', filename='image/avatar.png') }}" class="img-circle center" alt="Cinque Terre" width="40" height="50">
        </div>
        <div class="col-7" style="float:left;">
          <h3 style="color:white;"> Dumb Chatbot</h3>
        </div>
      </div>
      <div class="w3-card-4 chatbody" style="overflow-x:auto;overflow-x: hidden;height:500px;" id="chatbody">
        <div class="container-fluid chatbox" id="chatbox">
           <div class="row" style="margin-top:10px ;">
          <div class="col-1">
            <!-- <p>Lorem ipsum...</p> -->
          </div>

          <div class="col-8 w3-card-4 response">
            {% if g.user %}
                <p><b> Welcome  {{g.user.username}}. Don't be harsh on me, I'm just a kid..</b></p>
            {% else %}
                <p><b> Welcome to chatbot. Don't be harsh on me, I'm just a kid..</b></p>
            {% endif %}

          </div>
            <div class="col-1">
              <img src="{{ url_for('static', filename='image/avatar.png') }}" class="img-circle" alt="Cinque Terre" width="40" height="50">
            </div>
        </div>
        </div>
      </div>
      <div class="input-group" style="width:100%;">
        <input id="msg" class="form-control" type="text" style="border:2px solid #ccc;" placeholder="Enter the message">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default enter" id="hit" style="float:right"><i class="glyphicon fa fa-telegram"></i></button>
        </div>
      </div>

      <script>
      // to submit on enter
      var input = document.getElementById("msg");
      input.addEventListener("keyup", function(event) {
          event.preventDefault();
          if (event.keyCode === 13) {
              document.getElementById("hit").click();
          }
      });
    </script>
    </div>
  </div>
</div>
