{% extends 'base.html' %}
<!DOCTYPE html>
{% block header %}
<h1>{% block title %}HOME{% endblock %}</h1>
{% endblock %}
{% block content %}
<!-- <script src="{{ url_for('static',filename='js/bulma-extensions.min.js') }}"></script> -->





<!-- About Container -->
<section class="hero has-text-white-bis is-fullheight" id="projects">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div data-aos="fade-up" class="stylish-container">
                <h1 class="has-text-centered title">Page Not found</h1>
                <p>Looks like you have come to a wrong end</p>
                <!-- <p><strong>The Chef?</strong> Mr. Italiano himself<img src="/w3images/chef.jpg" style="width:150px" class="w3-circle w3-right" alt="Chef"></p> -->
                <p>Try taking different paths.</p>
            </div>

        </div>
    </div>
</section>

{% endblock %}






