<!-- Footer -->


  <div class="content has-text-centered">
      <p><a href="#home" class="button"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a></p>
    <span class="icon">
      <a href="https://github.com/YajanaRao"><i class="fab fa-github"></i></a>
    </span>
    <span class="icon">
      <i class="fab fa-twitter"></i>
    </span>
    <span class="icon">
      <i class="fab fa-facebook"></i>
    </span>
    <span class="icon">
      <a href="https://www.linkedin.com/in/yajana-rao-003126131/"><i class="fab fa-linkedin"></i></a>
    </span>
    <p>
      <span class="icon has-text-white">
        <i class="fa fa-code"></i>
      </span> WITH 
      <span class="icon has-text-danger">
        <i class="fa fa-heart"></i>
      </span>
      BY
       <strong class="has-text-white"> Yajana N Rao</strong> 
    </p>
  </div>
