<!-- Footer -->

<div class="content has-text-centered has-text-white">
  <p><a href="#home" class="button is-primary"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a></p>
    <p class="is-size-1" style="margin-bottom: 0.1rem; margin-top: 3rem;">Follow Me</p>
  <span class="icon">
    <a href="https://github.com/YajanaRao" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
  </span>
  <span class="icon">
    <a href="https://twitter.com/yajana143" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-twitter"></i>
    </a>
  </span>
  <span class="icon">
    <a href="https://www.facebook.com/yajnan.rao" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-facebook"></i>
    </a>
  </span>
  <span class="icon">
    <a href="https://www.linkedin.com/in/yajana-rao-003126131/" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-linkedin"></i>
    </a>
  </span>
  <p>
    <span class="icon has-text-white">
      <i class="fa fa-code"></i>
    </span> WITH
    <span class="icon has-text-danger">
      <i class="fa fa-heart"></i>
    </span>
    BY
    <strong class="has-text-primary"> Yajana N Rao</strong>
  </p>
</div>