@charset "utf-8";

$font-family: "Amatic SC";
$header-color: white;
$vertical-padding: 50px;
$mobile-padding: 20px;

.is-128 {
  width: 128px;
  height: 128px;
}

body, h1,h2,h3,p,div{
    font-family: 'Amatic SC';
    font-size: 22px;
}

input {
  font-family: $font-family !important;
 
}

select {
  font-family: $font-family !important;
}
button {
  font-family: $font-family !important;
}

span{
    pointer-events: initial !important;
}   

.para{
  font-family: $font-family;
  font-size: 20px;
}



.amatic {
  font-family: $font-family;
}




.images {
    display: block;
    width: 50%;
    margin: auto;
}

.mySlides {display:none;}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: right;
}

.customSidePadding {
  // padding-top: $vertical-padding;
  padding-bottom: $vertical-padding;
  padding-left: $mobile-padding;
  padding-right: $mobile-padding;
}

.brand {
	width: 90px;
	height: 90px;
	overflow: hidden;
	border-radius: 50%;
	margin: 0 auto;
	margin: 40px auto;
	box-shadow: 0 0 40px rgba(0,0,0,.05);
}

.brand {
	width: 90px;
	height: 90px;
	overflow: hidden;
	border-radius: 50%;
	margin: 0 auto;
	margin: 40px auto;
	box-shadow: 0 0 40px rgba(0,0,0,.05);
	padding-bottom: 10px;
}

 .brand img {
	width: 100%;
}


.slide-center {
    margin: auto;
    width: 50%;
    border: 3px solid white;
    overflow: hidden;
    height: 500px;
}

// chat bot styles
.chat{
  bottom: 10px;
  right: 10px;
  position: fixed;
  border-radius: 40px !important;
  width: 80px;
  height: 80px;
}

.chat:hover{
  width: 90px;
  height: 90px;
}



.messageframe{
    position:relative;
    height: 500px;
    width: 100%;
    padding: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}



.chatbot{
  /* display:none; */
  /* height:500px; */
  /* width:400px; */
  right: 10px;
  bottom: 10px;
  position:fixed;
  width: 500px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  border: solid 2px green;
}




.head{
  background-color: white;
}

.amPm {
  font-size: 30px;
  padding: 10px;
}



.time {
  font-size: 170px;
}

div.ani {
 animation: lifetime 60s infinite;
 font-family: cursive;
 text-overflow: hide;
 width: 20px;
 padding: 10px;
 border-radius : 5px;
 padding: 10px;
}

.icon {
  padding:10px;
}


/* Standard syntax */
@keyframes lifetime {
  0%{
    background-color:white;
    width: 100%;
    color: black;
    opacity: 100;
    font-weight: bold;
  }
  100%{
    background-color: rgb(244, 67, 54);
    width: 0%;
    color: rgb(244, 67, 54) ;
    display: none;
    opacity: 0;
  }
}


@media only screen and (max-width: 500px) {
    #plane {
        width: 100%;
    }

    .images{
      width: 100%;
    }

    .slide-center {
      width: 100%;
    }

    .chatbot{
      position: relative;
      width: 100%;
      right: 0;
      left: 0;
    }

    .time{
      font-size: 100px;
    }

    .date{
      font-size: 40px;
    }
}


